    {% extends '::admin_layout.html.twig' %}

{% block content %}
    <div class="row">
        <div class="large-12 small-12 columns">
            <h1>Event creation</h1>
        </div>
    </div>

    <div class="row">
        <div class="large-12 small-12 columns">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>

        <div class="row">
    <div class="large-12 small-12 columns">
        <ul class="button-group">
            <li>
                <a href="{{ path('kunstcafe_main_calendar_crud') }}" class="button">
                    Back to the list
                </a>
            </li>
                                </ul>
    </div>
</div>
{% endblock %}
