<div class="row">
    <div class="large-2 small-12 columns">
        <label for="{{ key }}">{{ (key|replace('_', ' '))|capitalize }}</label>
    </div>
    <div class="large-10 small-12 columns">
        <input type="file" name="{{ key }}" id="{{ key }}" />
    </div>
</div>