{% extends '::admin_layout.html.twig' %}

{% block main_banner_image %}{{ asset('images/' ~ config['main_banner_image']) }}{% endblock %}

{% block main_banner_text %}{{ config['main_banner_text'] }}{% endblock %}

{% block content %}
    <div class="row">
        <div class="large-12 small-12 columns">
            <h2>{{ "Manage Images"|trans }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="large-12 small-12 columns">
            
        </div>
    </div>
{% endblock %}